<% include partials/_header %>
<div class="container">
    <div class="row">
        <!-- Formulario -->
        <div class="col-md-5 offset-md-3">
            <div class="card">
                <div class="card-body">
                    <form action="/edit/<%= tarea._id%>" method="POST">
                        <div class="form-group">
                            <input type="text" name="title" placeholder="Titulo" class="form-control" value="<%= tarea.title%>">
                        </div>
                        <div class="form-group">
                            <textarea name="description" cols="80" placeholder="Descripcion"
                                class="form-control"><%= tarea.description%></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Actualizar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<% include partials/_footer %>